html {
  background-color: black;
}

.fullscreen {
  width: 100vw;
  padding-left: 0;
}

#registrationText {
  margin-top: -55vh;
  margin-left: 15vw;
  color: white;
}

#registrationButton {
  margin-top: 5vh;
  margin-left: 25vw;
}

#appDescription {
  background: silver;
  height: 100vh;
}

#appDescriptionElements {
  margin-top: 50vh;
}

#appDescriptionElements p {
  font-size: 2vh;
}
